.button {
  border: 1px solid #62AFBD;
  border-radius: 25px;
  padding: 5px 5px;
  width: 100px;
  max-width: 25%;
}

.button:first-child {
  background: #62AFBD;
  color: white;
}

.button:hover,
.button:first-child:hover {
  background: #00698a;
  color: white;
  border: 1px solid #00698a;
}

