.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.link {
  text-transform: uppercase;
  margin-right: 20px;
}

.link :not(:last-child) {
  margin-right: 20px;
}

.active {
  border-bottom: 2px solid #62AFBD;
}
.link-item {
  padding-bottom: 10px;
}

.link-item:hover {

    border-bottom: 2px solid #62AFBD;

}