.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.sign {
  text-transform: uppercase;
}

.sign-item:hover {
  border-bottom: 2px solid #62AFBD;
}
.sign-item:not(:last-child) {
  margin-right: 20px;

}