.container {
  background: #FAFAFA;
  color: #62AFBD;
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  
}

.wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  width: 100%;
  margin-top: 20%;
}

.title {
  
  color: #D81B60;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.description {
  font-size: 24px;
}

.image {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex: 0 1 50%;
  width: 100%;
  height: 100%;
}

.image > img {
  width: 100%;
  aspect-ratio: 1/1.15;
}